<div class="navbar navbar-default">
    <div id="menu" class="container navbar-default ">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">eCommerce</a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
			<li class="nav">{{#link-to 'index' tagName="a" }} Home {{/link-to}}</li>
	    	<li class="nav">{{#link-to 'dashboard.products' tagName="a"}} Products {{/link-to}}</li>
	    	<li class="nav">{{#link-to 'dashboard.products.new' tagName="a"}} New Product {{/link-to}}</li>
	    </ul>
  </div>
</div>

{{yield}}
